# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
.venv/
venv/
ENV/
.tox/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.build-venv/

# Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log

# Env
.env
.env.local

# Buf
buf.lock.bak
